#######################################################################
# Win3x Theme for Fluxbox.                                            #
#                                                                     #
# This is a modified version of win311 theme by nicepics13,           #
# created in summer 2021: https://www.box-look.org/p/1571083          #
#######################################################################

########
# FONT #
########

*font:                               Dejavu Sans:style=Condensed:size=9

# Win9x look and feel:
# https://github.com/grassmunk/Chicago95/tree/master/Fonts/bitmap/cronyx-cyrillic
#*font:                              Helvetica-9:bold

# Can be replaced by Misc Fixed,  but be sure you have pango v1.43.0.
#*font:                              Misc Fixed:style=Bold SemiCondensed:size=10
#*font:                             -Misc-Fixed-Medium-R-Semicondensed--13-120-75-75-C-60-ISO10646-1

########
# MENU #
########

menu.bevelWidth:                     1
#menu.title.font:                    Helvetica-8
#menu.itemHeight:                     22
menu.titleHeight:                    22
menu.borderColor:                    #000000
menu.borderWidth:                    1

menu.submenu.pixmap:                 bullet.xpm

menu.title:                          flat
menu.title.justify:                  center
menu.title.color:                    #408080
#menu.title.colorTo:                  #408080
menu.title.textColor:                #ffffff

#menu.frame.font:                    Helvetica-8
menu.frame:                          flat
menu.frame.justify:                  left
menu.frame.color:                    #ffffff
menu.frame.colorTo:                  #c0c0c0
menu.frame.textColor:                #000000
menu.frame.disableColor:             #c0c0c0

menu.hilite:                         flat
menu.hilite.color:                   #408080
menu.hilite.colorTo:                 #408080
menu.hilite.textColor:               #ffffff

menu.selected.pixmap:                selected.xpm
menu.selected.color:                 #c0c0c0
menu.selected.textColor:             #000000
menu.selected.colorTo:               #111111

menu.hilite.selected.pixmap:         selected.xpm
menu.hilite.selected.color:          #408080
menu.hilite.selected.textColor:      #ffffff

menu.unselected.pixmap:              unselected.xpm
menu.unselected.color:               #c0c0c0
menu.unselected.textColor:           #000000

menu.hilite.unselected.pixmap:       unselected.xpm
menu.hilite.unselected.color:        #408080
menu.hilite.unselected.textColor:    #ffffff

#menu.bullet:                        triangle
menu.bullet.position:                Right
#menu.hilite.submenu.pixmap:         bullet_white.xpm


###########
# TOOLBAR #
###########

toolbar.bevelWidth:                  2
toolbar.borderWidth:                 1
toolbar.borderColor:                 #000000
toolbar.height:                      22
toolbar.justify:                     left

toolbar:                             flat
toolbar.color:                       #c0c0c0
toolbar.colorTo:                     #c0c0c0

toolbar.workspace.justify:           Center
toolbar.workspace:                   flat
toolbar.workspace.color:             #ffffff
toolbar.workspace.colorTo:           #c0c0c0
toolbar.workspace.textColor:         #000000
toolbar.workspace.borderWidth:       1
toolbar.workspace.borderColor:       #000000

toolbar.button:                      pixmap
toolbar.button.pixmap:               button.xpm

toolbar.button.pressed:              pixmap
toolbar.button.pressed.pixmap:       button_pressed.xpm
toolbar.button.pressed.borderColor:  #c0c0c0
toolbar.button.pressed.borderWidth:  1

toolbar.iconbar.empty:               flat
toolbar.iconbar.empty.color:         #c0c0c0
toolbar.iconbar.empty.colorTo:       #c0c0c0
toolbar.iconbar.focused.textColor:   #000000

toolbar.iconbar.focused:             flat
toolbar.iconbar.focused.color:       #408080
toolbar.iconbar.focused.colorTo:     #408080
toolbar.iconbar.focused.textColor:   #ffffff
toolbar.iconbar.focused.justify:     left

toolbar.iconbar.unfocused:           flat
toolbar.iconbar.unfocused.color:     #ffffff
toolbar.iconbar.unfocused.colorTo:   #c0c0c0
toolbar.iconbar.unfocused.textColor: #000000
toolbar.iconbar.unfocused.justify:   left

#toolbar.clock:                       sunken gradient rectangle interlaced
toolbar.clock:                       flat
toolbar.clock.justify:               center
toolbar.clock.color:                 #c0c0c0
toolbar.clock.colorTo:               #c0c0c0
toolbar.clock.textColor:             #000000
toolbar.clock.borderWidth:           1
toolbar.clock.borderColor:           #000000

#toolbar.systray.borderWidth:         1
#toolbar.systray.borderColor:         #000000

########
# SLIT #
########

#slit: raised gradient diagonal
slit: raised gradient diagonal
!slit.pixmap: button_pressed.xpm
slit.borderColor: #000000
slit.borderWidth: 1
slit.color:       #c0c0c0
slit.colorTo:     #c0c0c0
slit.bevelWidth:  0

##########
# WINDOW #
##########

window.bevelWidth:                   0
window.shade:                        false
window.borderWidth:                  1
window.borderColor:                  #000000

window.justify:                      Center

window.title.height:                 22

window.title.focus.pixmap:           title_foc.xpm
window.title.unfocus.pixmap:         title_ufo.xpm
window.label.focus.pixmap:           title_foc.xpm
window.label.unfocus.pixmap:         title_ufo.xpm

#window.title.focus:                 flat
window.title.focus.color:            #408080
#window.title.focus.colorTo:         #0000aa
#window.title.unfocus:               flat
#window.title.unfocus.color:         #ffffff
#window.title.unfocus.colorTo:       #ffffff

#window.label.focus:                 flat
#window.label.focus.color:           #0000aa
#window.label.focus.colorTo:         #0000aa
window.label.focus.textColor:        #ffffff
#window.label.unfocus:               flat
#window.label.unfocus.color:         #ffffff
#window.label.unfocus.colorTo:       #ffffff
window.label.unfocus.textColor:      #000000

window.close.pixmap:                 close_foc.xpm
window.close.pressed.pixmap:         close_prs.xpm
window.close.unfocus.pixmap:         close_ufo.xpm

window.iconify.pixmap:               min_foc.xpm
window.iconify.pressed.pixmap:       min_prs.xpm
window.iconify.unfocus.pixmap:       min_ufo.xpm

window.maximize.pixmap:              max_foc.xpm
window.maximize.pressed.pixmap:      max_prs.xpm
window.maximize.unfocus.pixmap:      max_ufo.xpm

#window.button.focus:                parentrelative
#window.button.focus.color:          #
#window.button.focus.colorTo:        #
#window.button.focus.picColor:       #ffffff
#window.button.unfocus:              parentrelative
#window.button.unfocus.Color:        #
#window.button.unfocus.ColorTo:      #
#window.button.unfocus.picColor:     #ffffff
#window.button.pressed:              parentrelative
#window.button.pressed.color:        #
#window.button.pressed.colorTo:      #
#window.button.pressed.picColor:     #ffffff

window.handle.focus:                 flat
window.handle.focus.color:           #c0c0c0
window.handle.focus.colorTo:         #c0c0c0
window.handle.unfocus:               flat
window.handle.unfocus.color:         #c0c0c0
window.handle.unfocus.colorTo:       #c0c0c0
window.handleWidth:                  2

window.grip.focus:                   flat
window.grip.focus.color:             #c0c0c0
window.grip.focus.colorTo:           #c0c0c0
window.grip.unfocus:                 flat
window.grip.unfocus.color:           #c0c0c0
window.grip.unfocus.colorTo:         #c0c0c0

window.stick.pixmap:                 stick_foc.xpm
window.stick.pressed.pixmap:         stick_prs.xpm
window.stick.unfocus.pixmap:         stick_ufo.xpm

window.stuck.pixmap:                 stick_prs.xpm
window.stuck.unfocus.pixmap:         stick_prs.xpm

# vim: cc=72
# End of file.
